/* ////////////////////////////////////////////////////////////// */
/*
/* Variables
/*
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* Susy
-------------------------------------------------------------- */
$total-columns:                         16;
$gutter-width:                          1.25em; //20px

$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: .25,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

/* Use Border Box Boxsizing
/* @ref: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
-------------------------------------------------------------- */
@include border-box-sizing;

/* Brakepoint
-------------------------------------------------------------- */
$breakpoint-no-queries:               false;
$breakpoint-no-query-fallbacks:       true;
$bp_480:                              30em,  'no-query' '.oldie'; //Default Mobile 480/16

/* Brand Colors
-------------------------------------------------------------- */
$facebook-blue:                         #3b5998;
$twitter-blue:                          #4099ff;
$linkedin-blue:                         #0e76a8;
$vimeo-blue:                            #44bbff;
$google-orange:                         #dd4b39;
$rss-organge:                           #ee802f;
$youtube-red:                           #c4302b;

/* Color
-------------------------------------------------------------- */
$alert-red:                             #FFC0C0;

/* Typography
-------------------------------------------------------------- */
$base-font-family:                      sans-serif;

/* Links
-------------------------------------------------------------- */
$base-link-color:                       #0093d0;
$base-visited-link-color:               darken($base-link-color, 10%);
$base-hover-link-color:                 lighten($base-link-color, 10%);
$base-active-link-color:                lighten($base-link-color, 10%);

/* Various Elements
-------------------------------------------------------------- */
$base-sticky-color:                     #ffffcc;
$base-border-color:                     #ccc;
$base-button-color:                     #ccc;
$base-button-text-color:                #333;

/* Dropdown Menu
-------------------------------------------------------------- */
$ddmenu-link-color:                     $base-link-color;
$ddmenu-border:                         #fff;
$ddmenu-bg-color:                       #333;
$ddmenu-bg-color-expanded-tier3:        $ddmenu-bg-color;
