/* ////////////////////////////////////////////////////////////// */
/*
/* Base
/* Added dafaults in addion to Normalize.css.
/* ~~~~~~ This file should not be edited. ~~~~~~~~~~~~~~~~~~~~~
/*
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */


/* Body
-------------------------------------------------------------- */
body {
    // Sets base font-family defined @ref: _base-variables.scss.
    font-family: $base-font-family;
    // Sets base font-size using mixin @ref: _base-mixins.scss.
    @include font-size(16);
    // Sets base line-height.
    line-height: 1.3;
}

/* Blockquote
/* Markup: <blockquote><p></p><cite></cite></blockquote>
-------------------------------------------------------------- */
blockquote {
    // Blockquote cite is aligned right with top margin for better legibility.
    cite {
        display: block;
        text-align: right;
        margin-top: $gutter-width;
        &:before {
            content: "– "
        }
    }
}

/* Inline
-------------------------------------------------------------- */
a {
    // Base link colors @ref: _base-mixins.scss.
    @include link-set($base-link-color, $base-link-color, $base-link-color, $base-link-color);
        // All text links get underline of hover.
        &:hover {text-decoration: underline;}
}

abbr {
    &:hover {
        // On hover over abbrviated text show help cursor.
        cursor: help;
    }
}

/* Hr
-------------------------------------------------------------- */
hr {
    // Sexy HR assistant styles.
    clear: both;
    border: 1px solid $base-border-color;
    margin: $gutter-width 0;
}

/* Form Elements
-------------------------------------------------------------- */
label {
    // Call more attention to label. Increase scanability.
    font-weight: bold;
}

legend {
    // Form group labels inherit label.
    @extend label;
}

input[type="datetime-local"], //html5
input[type="datetime"], //html5
input[type="month"], //html5
input[type="week"], //html5
input[type="date"], //html5
input[type="range"],//html5
input[type="color"],//html5
input[type="text"],
input[type="password"],
input[type="search"],//html5
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea {
    // Sets width of field to fit wrapper; Pushes field to next line.
    width: 98%;
    // Add some space between text and field border.
    padding: $gutter-width/4; // line height will not compute in FF
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    // Keeps buttons looking consistent. @ref: _base-extends.scss
    @include button($base-button-color, $base-button-text-color);
}

/* Table
-------------------------------------------------------------- */
table {
    // Set default table styles for data
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #808080;
    width: 100%;
}

th {
    // Set default table styles for data
    text-align: left;
    border: 1px solid #808080;
    padding: 0.2em;
}

td {
    // Set default table styles for data
    border: 1px solid #808080;
    padding: 0.2em;
}

/* Media
-------------------------------------------------------------- */
// Make sure media fit their containers
img,
embed,
iframe,
object,
video {
    max-width: 100%;
}
