/*
 * Description: Allows theme developers to link a custom stylesheet file to the TinyMCE visual editor.
 * Codex:  http://codex.wordpress.org/Editor_Style
*/

body {
    font-family: sans-serif;
}


blockquote {
    margin:1em .5em;
    font-style:oblique;
    font-size:1em;
}
blockquote:before { content:'“'; }
blockquote:after { content:'”'; }

/* = Form Elements
-------------------------------------------------------------- */

label {
    margin-top: 1em;
    display: inline-block;*display: inline;*zoom: 1;
}

input[type="text"],
input[type="password"],
input[type="search"],
textarea {
    width: 98%;
    padding: .25em; // line height does not compute in FF
}
select,
input[type="checkbox"], 
input[type="radio"] {
    display: inline-block; *display: inline; *zoom: 1;
}

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    clear: both;
    margin: 1em 0;
}

/* = Image Elements
-------------------------------------------------------------- */

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
