///////////////////////////////////////////////////////////////
// Article Element
///////////////////////////////////////////////////////////////

article {

	// Entry Meta - found in header and footer of article.
	///////////////////////////////////////////////////////////////
	.entry-meta { clear:both; }
	header.entry-meta {}
	footer.entry-meta {}

	// Article Header
	///////////////////////////////////////////////////////////////
	.entry-title {
	    // Decrease space between title and entry-meta.
	    margin-bottom: $gutter-width/5;
	    a {
	        &:hover {
	            // Underline looks bad on title text.
	            text-decoration: none;
	        }
	    }
	}

	// Article Content
	///////////////////////////////////////////////////////////////
	.entry-content {
	    @extend %cf;
	    ul,ol {
	    	// Add equal margins to <p>,headers, etc..
	        li {
	            margin:  1em 0;
	        }
	    }
	}

	// Article Summary
	///////////////////////////////////////////////////////////////
	.entry-summary {
		@extend %cf;
	}

    // Archive, Blog and Search listings default styles.
    ///////////////////////////////////////////////////////////////
    .archive &, .blog &, .search & {
        & {
            // Add border to separate post list
            border-bottom: 1px solid $base-border-color;
            // Add padding to separate post list
            padding: $gutter-width 0;

            &:last-child {
                // Last post does not get a border
                border-bottom: 0;
            }
        }
        // Sticky posts
        &.sticky {
            background-color:$base-sticky-color;
            padding: $gutter-width;
        }
    }

}
