/* ////////////////////////////////////////////////////////////// */
/*
/* Paging and Post Navigation
/*
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.site-navigation {
    margin: $gutter-width 0;
    a {
        text-decoration: none;
        color: $base-button-text-color;
    }
}

.paging-navigation,
.post-navigation {
    @include clear-fix();
    margin: $gutter-width 0;

    .nav-previous {
        @include button($base-button-color,$base-button-text-color);
        float: left;
    }
    .nav-next {
        @include button($base-button-color,$base-button-text-color);
        float: right;
    }
}
