/* ////////////////////////////////////////////////////////////// */
/*
/* Article Element
/*
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

article {

    /* Archive, Blog and Search listings default styles.
    -------------------------------------------------------------- */
    .archive &, .blog &, .search & {
        & {
            // Add border to separate post list
            border-bottom: 1px solid $base-border-color;
            // Add padding to separate post list
            padding: $gutter-width 0;

            &.last-child {
                // Last post does not get a border
                border-bottom: 0;
            }
        }
        // Sticky posts
        &.sticky {
            background-color:$base-sticky-color;
            padding: $gutter-width;
        }
    }

}//article
