/* ////////////////////////////////////////////////////////////// */
/*
/* Comments
/*
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

#comments {

    /* Comments Meta - appears under comment author line
    -------------------------------------------------------------- */
    .comment-meta {
        font-size: small;
        text-transform: uppercase;
    }

    /* Removes "Allowed html tags..." code below comment box
    -------------------------------------------------------------- */
    .form-allowed-tags {
        display: none;
    }

    /* Comment
    -------------------------------------------------------------- */
    ol.commentlist {
        // Removes list numeral styles from comment list.
        list-style-type: none;

        li.comment {
            article.comment {
                margin-bottom: $gutter-width;
            }
        }

        ul.children {
            // Removes list bullet styles from comment list children.
            list-style: none;
            // Gives appearance of threads and indentation.
            border-left: 1px solid $base-border-color;
        }
    }

    /* Respond to Comment
    -------------------------------------------------------------- */
    #respond {
        // Separate repond area from comments list
        border-top:1px solid $base-border-color;

        input[type=text],
        input[type=email],
        input[type=url], {
            // Fields go on own line
            display: block;
            width: 60%;
        }

        textarea {
            // Field go on own line
            display: block;
            margin: 0 0 $gutter-width;
            width: 80%;
        }
    }

}//#comments
